header#main-header{
    width: 100%; /*ocupando todo a largura */
    height: 60px;
    background: #da552f; /*laranja*/
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;/*alinha todo conteudo ao center*/

}